<div class="container mt-5">

    <table class="table">
        <div class="table mb-2 d-flex justify-content-end">
            <a href='/admin/foods/create'>
                <button type="button" class="btn btn-primary">新增商品</button>
            </a>
        </div>
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            {{#each foods}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>
                    <button type="button" class="btn btn-link">
                        <a href="/admin/foods/{{this.id}}/create">
                            Edit
                        </a>
                    </button>
                    <form action="/admin/foods/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-link">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>