{{!-- {{#if foods}}
<script type="text/javascript" async>

    console.log({{ foods }})

</script>
{{/if}} --}}


<script type="text/javascript" async>
    let foodList = []

</script>


<div class="container mt-5">
    {{#if id}}
    <script>
        window.alert(`取餐號碼:{{ id }}`)
    </script>
    {{/if}}
    <div class="row">
        {{!-- 左邊為菜單 --}}
        <div class="col-8 border">
            <div class="card-deck pt-3 mb-3">
                {{!-- <div class="card text-center ">
                    <label class="card-body px-2">
                        <h5 class="card-title">Black Tea</h5>
                        <input type="radio" name="drink" value="Black Tea">
                    </label>
                </div> --}}
                {{!-- <div>{{foods.[0]}}</div> --}}


                {{!-- <input type="text" value="{{foods}}" id="foods" hidden> --}}
                {{!-- <div class="test" style="display:none">{{ foods}}</div> --}}

                {{#each foods}}
                <script>
                    id = '{{this.id}}'
                    name = '{{this.name}}'
                    price = '{{this.price}}'
                    food = {
                        id, name, price
                    }
                    foodList.push(food)

                </script>


                <div class="col-4 mt-1">
                    <div class="card text-center ">
                        <label class="card-body px-2">
                            <h5 class="card-title" id="{{this.id}}">{{this.name}}</h5>
                            <img src={{this.image}} alt="">
                            <h3 class="card-text">${{this.price}}</h3>
                            {{!-- <div class="card-text">$ <span data-drink-price>{{this.price}}</span></div> --}}
                            <div class="qty d-flex justify-content-around mt-1">
                                <button class="btn btn-outline-primary">+</button>
                                <h3 class="card-qty"> 1 </h3>
                                <button class="btn btn-outline-primary">-</button>
                            </div>

                            <button class="btn btn-outline-primary mt-1">加入菜單</button>
                            {{!-- <input type="radio" name="drink" value="Black Tea"> --}}
                        </label>
                    </div>
                </div>
                {{/each}}


            </div>

        </div>

        {{!-- 左邊為已點餐點 --}}
        <div class="col-4 border">

            <div id="order">

            </div>

        </div>


    </div>


</div>