<script type="text/javascript" async>
    let foodList = []

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>姓名：<input type="text" id="order_name"></p>
                <p>電話：<input type="text" id="order_title"></p>
                <div class="border-top" id="orderList">
                    {{!-- <span>訂單內容</span>
                    <ul class="mb-0">
                        <li>滷味 X1
                        <li>滷味 X1
                    </ul>
                    <div>總共 100元</div> --}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">送單</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    {{#if id}}
    <script>
        window.alert(`取餐號碼:{{ id }}`)
    </script>
    {{/if}}
    <div class="row">
        {{!-- 左邊為菜單 --}}
        <div class="col-6 col-md-8  border">
            <div class="card-deck pt-3 mb-3">
                {{!-- <div class="card text-center ">
                    <label class="card-body px-2">
                        <h5 class="card-title">Black Tea</h5>
                        <input type="radio" name="drink" value="Black Tea">
                    </label>
                </div> --}}
                {{!-- <div>{{foods.[0]}}</div> --}}


                {{!-- <input type="text" value="{{foods}}" id="foods" hidden> --}}
                {{!-- <div class="test" style="display:none">{{ foods}}</div> --}}

                {{#each foods}}
                <script>
                    id = '{{this.id}}'
                    name = '{{this.name}}'
                    price = '{{this.price}}'
                    food = {
                        id, name, price
                    }
                    foodList.push(food)

                </script>


                <div class="col-lg-4 col-md-6 col-sm-12 mt-1">
                    <div class="card text-center ">
                        <label class="card-body px-2">
                            <h5 class="card-title" id="{{this.id}}">{{this.name}}</h5>
                            <img src={{this.image}} alt="" class="img-thumbnail">
                            <h3 class="card-text">${{this.price}}</h3>
                            {{!-- <div class="card-text">$ <span data-drink-price>{{this.price}}</span></div> --}}
                            <div class="qty d-flex justify-content-around mt-1">
                                <button class="btn btn-outline-primary">+</button>
                                <h3 class="card-qty"> 1 </h3>
                                <button class="btn btn-outline-primary">-</button>
                            </div>

                            <button class="btn btn-outline-primary mt-1">加入菜單</button>
                            {{!-- <input type="radio" name="drink" value="Black Tea"> --}}
                        </label>
                    </div>
                </div>
                {{/each}}


            </div>

        </div>

        {{!-- 左邊為已點餐點 --}}
        <div class="col-6 col-md-4 border">

            <div id="order">

            </div>

        </div>


    </div>


</div>